<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <object data='~/Images/csgohtx.svg' type='image/svg+xml' height="50" width="auto">
                </object>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", new object { }, new { @class = "nav-link" })

                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", new object { }, new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li id="balance-div">
                        <div>
                            <p id="balance">@Model.Amount.ToString("0.00")</p>
                        </div>
                        
                    </li>
                    <li class="nav-item" style="margin-right:25px;">
                        @{
                            if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LoginSteam", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken();
                                    <div id="socialLogin">

                                        <button type="submit" class="btn btn-success navnbar-btn" id="Steam" name="provider" value="Steam" title="Login using steam">@Model.Username</button>

                                    </div>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("LoginSteam", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken();
                                    <div id="socialLogin">

                                        <button type="submit" class="btn btn-success navnbar-btn" id="Steam" name="provider" value="Steam" title="Login using steam">Steam</button>

                                    </div>
                                }
                            }
                        }
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
